* {
}

body {
  height: 100%;
  font-size: 120px;
  background-color: whitesmoke;
  margin: 0;
}

option, input, select {
  width: 95%;
  font-size: 140px;
  text-align: center;
  border: none;
  margin-bottom: 60px;
}

select {
  width: 83%;
}

button {
  font-size: 180px;
  padding: 5px 100px 5px 100px;
  text-align: center;
  margin-bottom: 80px;
  background-color: lightgreen;
  border: 5px lightgreen;
  border-radius: 50px;
}

#topArea {
  width: 100%;
  text-align: center;
  border-radius: 0 0 150px 150px;
  border: 10px solid black;
}

#info-table {
  text-align: center;
  background-color: whitesmoke;
  width: 100%;
  margin-top: 75px;
  border: none;
  font-size: 80px;
}

#hide {
  text-align: center;
  font-size: 50px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -12px;
  padding: 20px;
  border-radius: 0 0 50px 50px;
  border: 10px solid black;
  border-top: 10px solid white;
}
